/* HEADER */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-family: Raleway, sans-serif;
    padding: 94px 50px 101px 50px;
}

.header__logo {
    height: 100px;
    width: 136px;
}

.header__links-list {
    font-size: 18px;
    display: flex;
    gap: 33.5px;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
    list-style-position: outside;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.address {
    max-width: 239px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33em;
    align-self: flex-end;
    text-underline-offset: 4.5px;
}

.header__address {
    justify-self: end;
}



/* MAIN */

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    z-index: 1;
}

.cover {
    position: relative;
    /* height: 757px; */
    background-image: url(../images/cover.jpg); 
    background-size: 124.6%;
    background-position: 50.8% 40%;
    padding: 155px 50px 50px 50px;
    z-index: 0;
    color: white;
    font-family: Raleway, sans-serif;
}

.cover__title {
    font-size: 100px;
    line-height: 1.35em;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.aligned-text {
    text-align: left;
    display: block;
    text-transform: uppercase;
}

.aligned-text_center {
    text-align: center;
    padding-left: 30px;
    display: block;
    text-transform: uppercase;
}

.aligned-text_right {
    text-align: right;
    display: block;
    text-transform: uppercase;
}

.description {
    margin-top: 96px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.22em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    word-spacing: 18.6px;
    align-items: center;
}

.bet-button {
    background: transparent;
    width: 256px;
    padding: 11px;
    color: white;
    outline: none;
    border: 1px solid white;
    font-weight: 500;
    text-transform: uppercase;
}



/* LOTS */

.lots {
    margin-top: 180px;
    padding: 0px 24px;
    font-family: Raleway, sans-serif;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    margin-top: 27px;
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;  
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
}

.lots__card-list-item {
    display: flex;
    width: 334px;
    min-height: 596px;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    color: white;
    flex-wrap: nowrap;
    background-size: 164% 100%;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-weight: 550;
    font-size: 22px;
    line-height: 1.2em;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
}

.lots__look-more-link {
    margin-top: 32px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 1.174em;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}



/* ABOUT */

.about {
    display: grid;
    column-gap: 25px;
    row-gap: 8px;
    margin-top: 118px;
    padding: 0px 24px;
    grid-template-columns: 334px auto;
    font-family: Raleway, sans-serif;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto auto auto;
}

.about__logo-image {
    width: 148px;

}

.about__title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 136px;
    text-transform: uppercase;
}

.about__text {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



/* FOOTER */

.footer {
    margin: 180px 50px 82px 50px;
    display: grid;
    grid-template-columns: 1fr 163.9px 1fr;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33em;
    align-items: flex-start;
    font-family: Raleway, sans-serif;
}

.footer__address {
    justify-self: start;
    line-height: 1.37em;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    line-height: 1.174em;
    font-size: 18px;
}

.footer__menu-link {
    text-decoration-style: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 48px;
    justify-self: end;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__social-list-item {
    height: 100%;
}